@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Village";
  src: url("../assets/fonts/village.ttf");
  font-display: swap;
}

@theme {
  --font-display: "Village", serif;
  --font-sans: "Afacad", sans-serif;
  --color-indigo-grey: #39393e;
}
