---
import Layout from "../layouts/Layout.astro";
import authorPhoto from "../assets/images/author-site-photo-2.png";
---

<Layout>
  <section
    class="flex flex-col justify-start md:justify-center items-center gap-12 w-full mt-52 pb-28 md:pb-0 px-12 font-mono text-xs/5 text-justify">
    <h2 class="font-display text-2xl">About</h2>
    <div
      class="flex flex-col md:flex-row justify-center items-center gap-6 w-full md:px-12 lg:w-[900px]">
      <img
        class="md:w-1/2 object-cover"
        id="author-photo"
        src={authorPhoto.src}
        alt=""
        fetchpriority="high"
      />
      <div class="md:w-1/2">
        <p>
          I'm a writer based in Bristol, UK. I write poetry, short fiction and
          essays.
        </p>
        <br />
        <p>
          I studied English at the University of York and completed a PhD on
          modern georgic poetry at the University of Bristol.
        </p>
        <br />
        <p>
          My poetry has appeared in magazines such as <i>Magma</i>, <i
            >PN Review</i
          >, <i>Stand</i>,
          <i>Blackbox Manifold</i>, <i>The Clearing</i> and <i
            >Caught by the River</i
          > and has been broadcast on BBC Radio.
        </p>
        <br />
        <p>
          I was the winner of the Charles Causley International Poetry
          Competition in 2016, and I've been the writer in residence at both the
          Museum of English Rural Life and Lighthouse Arts Centre.
        </p>
        <br />
        <p>
          My debut pamphlet-length collection is <i>Handling</i>, which came out
          with Two Rivers Press in 2018. I'm currently preparing a full-length
          collection of poems for publication.
        </p>
      </div>
    </div>
  </section>
</Layout>
