---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section
    class="flex flex-col items-center justify-center gap-12 h-full mt-52 px-4">
    <h1 class="font-display text-2xl">Contact</h1>
    <p class="w-full font-mono text-xs/5 text-center">
      Email: jackthacker89[at]gmail[dot]com
    </p>
  </section>
</Layout>
