---
import Layout from "../layouts/Layout.astro";
import coverPhoto from "../assets/images/handling-cover.jpg";
---

<Layout>
  <section
    class="flex flex-col justify-start md:justify-center items-center gap-12 w-full mt-52 pb-28 px-12 font-sans text-md text-left">
    <h2 class="font-display text-2xl">Writing</h2>
    <div
      class="flex flex-col md:flex-row justify-center items-center gap-6 w-full md:px-12 lg:w-[900px]">
      <img
        class="md:max-w-96 md:w-1/3 object-cover"
        id="handling-cover-photo"
        src={coverPhoto.src}
        alt=""
        fetchpriority="high"
      />
      <div>
        <h2 class="text-2xl">
          <i>Handling</i> (Two Rivers Press, 2018)
        </h2>
        <br />
        <p>
          ‘In the title poem of Jack Thacker’s <i>Handling</i>, the young
          speaker struggles to steer large – and stubborn – sheep. Watching his
          father, he realises that handling animals needs subtlety as well as
          strength. Both these qualities grace Jack Thacker’s poems not of
          surface glamour, but of depth and skill. They offer their readers rich
          rewards.’
        </p>
        <br />
        <p>– Alison Brackenbury</p>
        <br />
        <p>
          ‘On a first reading <i>Handling</i> is a convincing and likeable book; it
          takes a while to appreciate fully the quiet brilliance of this brief masterpiece,
          but once you do, it stays.'
        </p>
        <br />
        <p>– Bernard O’Donoghue</p>
        <br />
        <p>
          Purchase a copy direct from the publisher
          <a
            class="underline"
            href="https://tworiverspress.com/shop/handling/"
            target="_blank"
            rel="noopener noreferrer">
            here</a
          >
        </p>
      </div>
    </div>
    <div class="w-full md:px-12 lg:w-[900px]">
      <h2 class="text-base">Poems Online (selected)</h2>
      <br />
      <p>
        'Burr' in
        <i>
          <a
            class="underline"
            href="https://www.caughtbytheriver.net/2021/08/burr-poem-jack-thacker-roger-deakin/"
            target="_blank"
            rel="noopener noreferrer">
            Caught By The River</a
          >
        </i>
      </p>
      <br />
      <p>
        'Dream Dive' in
        <i>
          <a
            class="underline"
            href="https://www.interimpoetics.org/383/jack-thacker"
            target="_blank"
            rel="noopener noreferrer">
            Interim</a
          >
        </i>
        (38.3)
      </p>
      <br />
      <p>
        ‘from I, Sheep’, ‘The River’s Chambers’, ‘The Lunar Bow’ in
        <i>
          <a
            class="underline"
            href="https://blackboxmanifold.sites.sheffield.ac.uk/issues/issues-21-28/issue-24/jack-thacker"
            target="_blank"
            rel="noopener noreferrer">
            Blackbox Manifold</a
          >
        </i>
        24
      </p>
    </div>
    <div class="w-full md:px-12 lg:w-[900px]">
      <p>
        Other writings include essays and chapters on poets such as Edward
        Thomas, Ted Hughes and Alice Oswald for a range of critical books and
        journals.
      </p>
    </div>
  </section>
</Layout>
