<section class="fixed inset-0 w-full h-fit bg-indigo-grey" transition:persist>
  <div class="flex flex-col gap-8 items-center pt-12 px-20 pb-6">
    <h1 class="font-display text-4xl">
      <a href="/">Jack Thacker</a>
    </h1>
    <div class="flex justify-between w-full font-mono text-sm">
      <a href="/about/">about</a>
      <a href="/writing/">writing</a>
      <a href="/contact">contact</a>
    </div>
  </div>
</section>